[submodule "external/godot-cpp"]
	path = external/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.4
[submodule "external/slang"]
	path = external/slang
	url = https://github.com/shader-slang/slang
